<%- include('partials/top-html') %>
<%- include('partials/navbar') %>

<div class="admin-container">
  <div class="admin-option">
    <a href="/nAdmin/nNewItem"><div class="custom-file-upload">AGREGAR A PORTFOLIO</div></a>
    <br>
    <a href="/nAdmin/nDeleteItem"><div class="custom-file-upload custom-file-remove">ELIMINAR EN PORTFOLIO</div></a>
  </div>
  <div class="admin-option">
    <a href="/nAdmin/nNewPost"><div class="custom-file-upload">AGREGAR A BLOG</div></a>
    <br>
    <a href="/nAdmin/nDeletePost"><div class="custom-file-upload custom-file-remove">ELIMINAR EN BLOG</div></a>
  </div>
  <div class="admin-option">
    <a href="/nAdmin/nNewProduct"><div class="custom-file-upload">AGREGAR A TIENDA</div></a>
    <br>
    <a href="/nAdmin/nDeleteProduct"><div class="custom-file-upload custom-file-remove">ELIMINAR EN TIENDA</div></a>
  </div>
</div>

<%- include('partials/bot-html') %>
