:root{
  --blue: #04B2D9;
  --lightblue: #B2DBE4;
  --white: #F2F2F2;
}

/* Scrollbar */

::-webkit-scrollbar {
  width: .7em;
}

::-webkit-scrollbar-track {
  background: hsla(191, 48%, 80%, 1);
}

::-webkit-scrollbar-thumb {
  background: hsla(191, 96%, 35%, 1);
}

::-webkit-scrollbar-thumb:hover {
  background: hsla(191, 96%, 35%, .5);
}


@supports (scrollbar-color: red blue) {
  scrollbar-color: hsla(191, 96%, 35%, 1) hsla(191, 48%, 80%, 1);
  scrollbar-width: thin;
}

/* --------------------- */

body{
  background: var(--blue);
  font-family: 'Raleway', sans-serif;
  overflow-y: auto;
  overflow-x: hidden;
  color: var(--white);
}

body.body{
  overflow: hidden;
}

a{
  text-decoration: none;
}

/* Text */

h1{
  color: var(--white);
  font-size: 8rem;
  font-weight: 900;
  line-height: 5.5rem;
  transform: rotate(-5deg);
  margin: 0;
  user-select: none;
  letter-spacing: -7px;
}

.text-one{
  animation-name: textMorph;
  animation-iteration-count: infinite;
  animation-duration: 2s;
}
.text-two{
  animation-name: textMorph;
  animation-iteration-count: infinite;
  animation-duration: 2s;
  animation-delay: .1s;
}
.text-three{
  animation-name: textMorph;
  animation-iteration-count: infinite;
  animation-duration: 2s;
  animation-delay: .2s;
}
.text-four{
  animation-name: textMorph;
  animation-iteration-count: infinite;
  animation-duration: 2s;
  animation-delay: .3s;
}
.text-six{
  animation-name: textMorph;
  animation-iteration-count: infinite;
  animation-duration: 2s;
  animation-delay: .4s;
}
.text-seven{
  animation-name: textMorph;
  animation-iteration-count: infinite;
  animation-duration: 2s;
  animation-delay: .5s;
}

@keyframes textMorph{
  from{
    font-weight: 900;
  }
  50%{
    font-weight: 100;
  }
  to{
    font-weight: 900;
  }
}

h3{
  font-size: 1.8rem;
  font-weight: 800;
  color: var(--blue);
  margin: 5%  5%;
}

h4{
  color: var(--blue);
  font-size: 2rem;
  font-weight: 600;
  margin: 0 20% 1% 4%;
  user-select: none;
}

h5{
  font-size: 1.3rem;
  font-weight: 600;
  margin: 0;
}

p{
  font-size: 1.3rem;
  font-weight: 500;
  color: var(--blue);
  margin: 0 5%;
}
p span{
  font-weight: 600;
}

/*----------------------------- MAIN PAGE TITLE------------------------ */

h1:first-of-type{
  margin-right: 15%;
}

h1:nth-child(2n){
  margin-left: 15%;
}

.name{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 90vh;
}

/* ---------------------------- SIDE BAR -------------------------------- */

/* Arrow triggers bar */

.right-arrow{
  position: absolute;
  left: 0;
  user-select: none;
  -webkit-user-drag: none;
  width: 4rem;
  top: 2rem;
  z-index: 1000;
}

.right-arrow:hover{
  animation-name: puller;
  animation-iteration-count: infinite;
  animation-duration: 1.2s;
  cursor: pointer;
}

@keyframes puller {
  0%{
    width: 4rem;
    top: 2rem;
  }

  50%{
    width: 5rem;
    height: inherit;
    top: 1rem;
  }
}

.nav{
  width: 40vh;
  height: 100vh;
  background: var(--white);
  position: fixed;
  left: -100vw;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: flex-start;
  z-index: 1001;
  clip-path: polygon(100% 0px, 100% 7%, 84% 12%, 100% 17%, 100% 100%, 0px 100%, 0px 0px)
}

.nav-mob{
  display: none;
}

.nav-items-mob{
  display: none;
}

.nav-item{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  margin: 0;
  cursor: pointer;
  transition: all .2s;
}

.nav-item:hover{
  opacity: 45%;
  transition: all .2s;
}

.nav h4{
  font-weight: 700;
  font-size: 2rem;
  margin-right: 10px;
  transition: all .2s;
}

.nav-item .iconify{
  margin: 20px;
}

.pullout{
  width: 55px;
  position: fixed;
  top: 6vh;
  opacity: 0;
  left: 33vh;
  cursor: pointer;
  user-select: none;
  -webkit-user-drag: none;
  z-index: 1001;
}

/* -----GO HOME----- */
.gohome{
  position: relative;
  left: 8vw;
  top: 3rem;
  opacity: 100%;
  z-index: 1000;
  width: fit-content;
}

.gohome svg{
  transition: all .1s ease-out;
}

.gohome svg:hover{
  transform: rotate(-25deg);
  transition: all .1s ease-in-out;
}

.pagetitle{
  position: absolute;
  right: 5vw;
  font-size: 2.5rem;
  top: 1vh;
  color: var(--white);
}

.pagetitle h2{
  margin-bottom: 5%;
  font-weight: 900;
}

.pagetitle p{
  text-align:right;
  font-size:1.8rem;
  font-weight: 600;
  color: var(--white);
}

/* ---------------- CENTER MAIN PAGE ------------------------ */

/* Question Icon */
.question{
  position: absolute;
  right: 5%;
  top: 2%;
  animation-name: twistQuestion;
  animation-iteration-count: infinite;
  animation-duration: 4s;
}

@keyframes twistQuestion {
  0%{
    transform: rotate(0deg);
  }

  25%{
    transform: rotate(-30deg);
  }

  50%{
    transform: rotate(0deg);
  }

  75%{
    transform: rotate(30deg);
  }

}


/*------------------------- Newsletter Pop -------------------- */

.pop-box{
  background: var(--white);
  border-radius: 5px;
  position: absolute;
  bottom: 1.5rem;
  right: 1rem;
  width: 20rem;
  height: 4rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.iconify:hover{
  cursor: pointer;
}

.hovpop:hover{
  animation-duration: 1s;
  animation-name: hoveringPop;
  animation-iteration-count: infinite;
}

@keyframes hoveringPop {
  0%{
    height: 4rem;
  }

  50%{
    height: 5rem;
  }
}


.newsletter-box{
  background: var(--white);
  border-radius: 10px;
  display: none;
  justify-content: space-between;
  width: 80vw;
  height: 30vh;
  position: absolute;
  bottom: -50vh;
  right: 10rem;
  filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.25));
}

.newsletter-sm{
  display: none;
}

.left-nw{
  display: flex;
  flex-direction: column;
  max-width: 50%;
}
.right-nw{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}

.right-nw .iconify{
  align-self: flex-end;
  margin-right: 5%;
}

.index-form{
  width: 95%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.client-info{
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
}

input{
  height: 2rem;
  border-radius: 10px;
  border-style: none;
  background: var(--lightblue);
  color: black;
  font-weight: 600;
  padding: 0 10px;
}
input:focus{
  outline: 3px solid var(--blue);
  transition: all .1s ease-out;
}

::placeholder{
  color: var(--blue);
  font-weight: 600;
  margin-left: 20px;
}

.client-info input[type=text]{
  width: 35%;
}

.client-info input[type=email]{
  width: 55%;
}

button{
  width: 100%;
  height: 2.5rem;
  margin: 2% 0;
  border-radius: 10px;
  border-style: none;
  color: var(--white);
  background: var(--blue);
  font-size: 1.4rem;
  font-weight: 800;
  cursor: pointer;
  transition: all .5s ease-out;
}

button:hover{
  background: var(--lightblue);
  color: var(--blue);
  transition: all .5s ease-out;
}

.right-nw p{
  font-size: .7rem;
  font-weight: 400;
  text-align: center;
  margin: auto;
}

.active{
  opacity: 25%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  margin: 0;
}

.active .iconify{
  margin: 20px;
  cursor: default;
}

/* PORTFOLIO */

.gallery{
  display: flex;
  position: absolute;
  top: 30vh;
}

.row{
  flex: 30%;
  max-width: 20%;
  display: flex;
}

.row img{
  width: 100%;
  height: fit-content;
  padding: 5px;
}

ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding-top: 15vh;
  padding-left: 0;
  overflow: visible;
  z-index: 15;
}

.li-portfolio {
  height: 40vh;
  flex-grow: 1;
  padding: 5px;
  overflow: hidden;
}

.li-portfolio img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  vertical-align: bottom;
  border-radius: 5px;
  transition: opacity .2s ease-out;
  cursor: pointer;
}

.li-portfolio img:not(:hover){
  opacity: 85%;
}

.li-portfolio:last-child {
  flex-grow: 10;
}

.fullscreen{
  position: relative;
  top: 15vh;
  display: none;
  width: 100vw;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  height: min-content;
  min-height: fit-content;
  align-content: center;

  flex-direction: column;
  align-content: center;
  align-items: center;
}

.fullscreen img{
  width: max-content;
  min-width: 45vw;
  max-width: 85%;
  height: min-content;
  z-index: 15;
}

.backside{
  z-index: 10;
  backdrop-filter: blur(10px);
  width: 100vw;
  min-height: 80%;
  position: absolute;
  top: 0;
  left: 0;
}

.cross-port{
  margin: 2% 0 1%;
  background: var(--white);
  border-radius: 10px;
  cursor: pointer;
  width: 150px;
  display: flex;
  justify-content: center;
  padding: 5px;
  transition: all .3s ease-in-out;
}

.cross-port:hover{
  transition: all .2s ease-in-out;
  width: 155px;
  padding: 10px;
}

/* // ADVANCED */

/* // Portrait */

@media (max-aspect-ratio: 1/1) {
  li {
    height: 30vh;
  }
}

/* // Short screens */

@media (max-height: 480px) {
  li {
    height: 80vh;
  }
}

/* // Smaller screens in portrait */

@media (max-aspect-ratio: 1/1) and (max-width: 480px) {
  ul {
    flex-direction: row;
  }

  li {
    height: auto;
    width: 100%;
  }
  img {
    width: 100%;
    max-height: 75vh;
    min-width: 0;
  }
}

.cont-contact{
  display: flex;
  position: relative;
  top: 15vh;
  justify-content: space-between;
  margin: 0 5vw;

}

.contact-icons .iconify{
  margin-right: 10%;
  transition: all 0.2s ease-in-out;
}


.contact-icons:hover .iconify{
  opacity: 50%;
  transition: all 0.2s ease-in-out;
}

.contact-icons .iconify:hover {
  opacity: 100%;
  transition: all 0.2s ease-in-out;
}

.contact-icons{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: nowrap;
  flex-direction: row;
  position: relative;
  transition: all 0.2s ease-in-out;
}

.col{
  width: 40%;
}

.col-left{
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  left: 3vw;
}

.sm-order{
  display: none;
}

.form-background{
  position: relative;
  background: var(--white);
  border-radius: 10px;
  padding: 0;
}

.contact-form{
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  padding: 10px;
}

textarea{
  resize: none;
  width: initial;
  height: 35vh;
  border-radius: 10px;
  background: var(--lightblue);
  border: none;
  border-style: none;
  color: black;
  font-weight: 600;
  padding: 10px 0 0 10px;
  margin: 5px;
}

textarea:focus{
  outline: 3px solid var(--blue);
  transition: all .1s ease-out;
}

.form-subgroup{
  display: flex;
  flex-direction: row;
  /* padding: 5px; */
  justify-content: space-between;
  width: 100%;
}

.form-input{
  margin: 5px;
}

.form-input:invalid{
  background: red;
}

input:-webkit-autofill{
  -webkit-box-shadow:0 0 0 50px var(--lightblue) inset; /* Change the color to your own background color */
    -webkit-text-fill-color: #333;
}

input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0 50px var(--lightblue) inset;/*your box-shadow*/
    -webkit-text-fill-color: #333;
}

input[name="email"] {
  width: 95%;
  margin: 5px;
}

input[name="subject"] {
  width: 40%;
  margin: 5px;
}

.button-submit{
  height: 3rem;
  margin: 5px;
  margin-top: 5%;
  background: var(--blue);
  font-size: 1.5rem;
  color: var(--white);
  font-weight: 800;
  transition: all .2s ease-in;
  cursor: pointer;
}

.button-submit:hover{
  background: var(--lightblue);
  color: var(--blue);
  transition: all .2s ease-in;
}



/*----------------------------- Blog -----------------------------*/


.posts-container{
  display: flex;
  align-items: center;
  flex-direction: column;
  align-content: center;
  justify-content: flex-start;
  flex-wrap: nowrap;

  position: relative;
  top: 15vh;
}

.post-card{
  display: flex;
  width: 65vw;
  align-content: flex-end;
  justify-content: center;
  height: 350px;
  border-radius: 15px;
  position: relative;
  overflow: hidden;
  margin: 1% 0;
  cursor: pointer;
}

.post-img{
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(5px);
  transform: scale(1.2);
  width: 65vw;
  height: 350px;
  border-radius: 15px;
  position: relative;
  overflow: hidden;
  margin: 1% 0;
  cursor: pointer;
  transition: all .2s ease-out;
}

.post-card:hover .post-img{
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(3px);
  transform: scale(1.5);
  transition: all .3s ease-out;
}

.post-box{
  position: absolute;
  width: inherit;
  bottom: 0;
  background: rgba(90, 90, 90, 0.5);
  backdrop-filter: blur(7px);
  user-select: none;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.post-box h2{
  color: var(--white);
  margin: 2%;
  font-size: 3rem;
}

.post-box p{
  margin: 2%;
  color: var(--white);
}

.post-box h3{
  margin: 2%;
  color: var(--white);
}

.post-text{
  margin-left: 2%;
  width: 70%;
}

.post-date{
  width: fit-content;
  text-align: right;
  position: relative;
  right: 2%;
}

.post-date h3{
  font-weight: 700;
}



/* Admin Dashboard */

/* Remove */

.remove-container{
  position: relative;
  top: 15vh;
}

.remove-form{
  height: 30vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: #000000;
  background: var(--white);
  border-radius: 10px;
}

.remove-form h2{
  font-size: 3rem;
  margin-right: 5%;
}

.remove-form img{
  max-height: 200px;
  margin-right: 10%;
}

/* Compose */
.admin-container{
  display: flex;
  flex-direction: column;
  align-content: stretch;
  flex-wrap: nowrap;
  align-items: stretch;
  padding: 15vh 4vw 0;
}

.publish-btn{
  background: var(--white);
  color: #000000;
  border-radius: 10px;
  font-weight: 800;
  cursor: pointer;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.25);
  transition: all .2s ease-in-out;
  width: 10rem;
  align-self: flex-end;
  position: relative;
  bottom: 6rem;
  right: 2rem;
  margin: 0;
}

.publish-btn:hover{
  width: 11rem;
  right: 1.5rem;
  font-size: 1.2rem;
  transition: all .2s ease-in-out;
  background: var(--white);
  color: #000000;
}

.admin-form-img{
  background: #04B2D9;
  display: flex;
  height: 30vh;
  position: relative;
  width: inherit;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 2% 1%;
  border-radius: 10px;
}

.custom-file-upload{
  padding: 1% 10%;
  background: white;
  color: #000000;
  border-radius: 10px;
  font-weight: 800;
  cursor: pointer;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.25);
  transition: all .2s ease-in-out;
}

.custom-file-upload:hover{
  font-size: 1.2rem;
  background: #000000;
  color: var(--white);
  transition: all .2s ease-in-out;
}

.custom-file-remove{
  background: orange;
  color: #000000;
  transition: all .2s ease-in-out;
}

.custom-file-remove:hover{
  background: orangered;
  color: var(--white);
  transition: all .2s ease-in-out;
}

.input-admin{
  margin: 5px 1%;
  background: #4D4D4D;
  color: var(--white);
}

.input-admin:focus {
    outline: 3px solid var(--white);
    transition: all .1s ease-out;
}

.input-admin::placeholder{
  color: grey;
}

.input-admin:first-of-type{
  height: 50px;
  height: 5vh;
  font-size: 1.5rem;
  margin-bottom: 1.5%;
}

.body-admin{
  height: inherit;
  margin: 1%;
  background: #4D4D4D;
  color: var(--white);
  border-bottom: #4d4d4d solid 6rem;
}

.body-admin:focus {
  outline: 3px solid var(--white);
  transition: all .1s ease-out;
}

.body-admin::placeholder{
  color: grey;
}

.blogpost-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;
  align-content: flex-start;
  background: var(--white);
  color: var(--blue);
  margin: 15vh 5vw 10vh;
  border-radius: 10px 10px 10px 10px;
}

.blogpost-img{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: flex-start;
  align-content: center;
  align-items: center;
  width: 100%;
  max-height: 60vh;
  min-height: fit-content;
  position: relative;
  overflow: hidden;
  border-radius: 10px 10px 0 0;
}

.blogpost-img img{
  width: 100%;
  height: auto;
}

.blogpost-main{
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  align-items: flex-start;
  width: 100%;
  position: relative;
}

.blogpost-main h2{
  font-size: 3.5rem;
  font-weight: 700;
  margin: 0;
  padding: 2% 0 1% 3%;
  width: 97%;

  box-shadow: 0 2px 0 var(--blue);
}

.blogpost-main p{
  margin: 2% 3% 5% 3%;
  font-size: 1.8rem;
  white-space: pre-wrap;
}

.admin-option{
  width: 100%;
  height: 35vh;
  background: #4D4D4D;
  margin: 1% 0;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.admin-option .custom-file-upload {
  padding: 0;
  width: 20vw;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.admin-option .custom-file-upload:hover{
  width: 22vw;
  height: 3.2rem;
}

.shop-card{
  background: var(--white);
  display: flex;
  width: 80vw;
  height: 0;
  opacity: 0%;
  flex-direction: row;
  justify-content: space-around;
  border-radius: 10px;
}

.shop-card img{
  object-fit: contain;
  max-width: 50%;
  background: gainsboro;
  border-radius: 10px 0 0 10px;
}

.shop-item-info{
  width: 100%;
  color: var(--blue);
}

.shop-item-info svg{
  position: absolute;
  top: 1%;
  left: 86.5%;
}

.shop-item-description{
  width: 80%;
}

.shop-item-info h2{
  font-size: 2.5rem;
  margin: 5%;
}

.shop-item-size{
  font-size: 1.7rem;
  margin: 2% 5%;
}

.flashcookie-link{
  position: relative;
  top: 35%;
  left: 5%;
  background: var(--blue);
  width: 90%;
  height: 7%;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all .2s ease-in-out;
}

.flashcookie-link:hover{
  top: 33%;
  height: 10%;
  transition: all .2s ease-in-out;
}

.flashcookie-link p{
  color: var(--white);
}

.li-shop {
  width: 20vw;
  height: 40vh;
  flex-grow: 1;
  padding: 5px;
  overflow: hidden;
}

.li-shop img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  vertical-align: bottom;
  border-radius: 5px;
  transition: opacity .2s ease-out;
  cursor: pointer;
}

.li-shop img:not(:hover){
  opacity: 85%;
}

.li-shop:last-child {
  flex-grow: 10;
}


/* Auth */

.login-title{
  color: var(--white);
  margin: 25% 0;
}

.login-form{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 80vh;
  justify-content: center;
}

.login-form input{
  margin: 3% 0;
}

.submit-btn{
  cursor: pointer;
  width: 100px;
  transition: all .1s ease-out;
}

.submit-btn:hover{
  transition: all .1s ease-in;
  background: var(--white);
  font-size: 1rem;
  cursor: pointer;
  width: 100px;
}



/* Small screens - MOBILE */

@media only screen and (max-width: 677px) {

  body{
    overflow-x: hidden;
    overflow-y: auto;
    margin: 0;
  }

  body.body{
    overflow: auto;
  }

  h1{
    font-size: 3.5rem;
    line-height: 3rem;
    letter-spacing: -5px;
  }

  h3{
    font-size: 2.7rem;
    margin: 10% 5%;
  }

  p{
    font-size: 1.5rem;
  }

  .pagetitle{
    display: none;
  }

  .pop-box{
    display: none;
  }

  .newsletter-box{
    display: none;
  }

  .newsletter-sm{
    background: var(--white);
    position: relative;
    top: 10vh;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .left-nw{
    max-width: 95%;
    margin-top: 10%;
  }

  .right-nw{
    margin-bottom: 25%;
  }

  .client-info{
    flex-wrap: nowrap;
    flex-direction: column;
  }

  input{
    height: 2.3rem;
  }

  button{
    height: 3.3rem;
    font-size: 1.6rem;
  }

  .client-info input[type=text]{
    width: 94%;
    margin-bottom: 4%;
  }

  .client-info input[type=email]{
    width: 94%;
    margin-bottom: 6%;
  }

  .nav{
    display: none;
  }

  .nav-mob{
    width: 100%;
    height: 10vh;
    background: var(--white);
    position: fixed;
    top: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    filter: drop-shadow(0 0 5px grey);
  }

  .nav-mob h1{
    font-size: 2.5rem;
    color: var(--blue);
  }

  .nav-mob h1:nth-child(1){
    margin-left: 1rem;
    margin-right: 0;
    margin-top: .6rem;
  }

  .nav-mob h1:nth-child(2){
    position: relative;
    left: -.7rem;
    margin-left: 1rem;
    margin-top: 1.4rem;
  }

  .name-icon-nav{
    display: flex;
    user-select: none;
  }

  .undler{
    display: flex;
    align-items: center;
    margin-right: 1rem;
  }


  .animatedBurger{
    transform: rotate(90deg) scale(0.2);
    opacity: 0%;
    transition: all .2s ease-in;
  }

  .undler svg{
    transition: all .2s ease-out;
  }

  .cross-navmob{
    position: absolute;
    transition: all .2s ease-out;
  }

  .nav-items-mob{
    height: 10vh;
    display: none;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: var(--white);
  }

  .right-arrow{
    display: none;
  }

  .gohome{
    display: none;
  }

  .question{
    display: none;
  }

  .question-sm{
    position: absolute;
    left: 1rem;
    top: .5rem;
    animation-name: twistQuestion;
    animation-iteration-count: infinite;
    animation-duration: 6s;
  }


  .nav-item{
    position: relative;
    width: fit-content;
    margin: 0;
    margin-top: 0;
  }

  .active{
    opacity: 25%;
    position: relative;
    width: fit-content;
    margin: 0;
    margin-top: 0;
  }

  .nav-item h4{
    font-size: 0;
  }

  .pullout{
    display: none;
  }

  .pagetitle{
    width: 100%;
    text-align: center;
    top: 5vh;
    right: 0;
  }

  .pagetitle h2{
    margin-bottom: 0;
  }

  .pagetitle p{
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
  }

  /* Contact */

  .lg-order{
    display: none;
  }

  .sm-order{
    display: flex;
  }

  .cont-contact{
    flex-direction: column;
    top: 15vh;
  }

  .col{
    width: 100%;
  }

  .col-left{
    width: 100%;
    margin-top: 10vh;
    align-items: center;
    text-align: center;
    left: 0;
  }

  .contact-icons{
    margin-top: 5vh;
    margin-bottom: 10vh;
  }

  .contact-icons svg:first-of-type{
    width: 95px;
  }

  .contact-icons svg{
    width: 100px;
  }

  .contact-icons .iconify:last-of-type{
    margin-right: 0;
  }

  /* Portfolio */

  ul{
    padding-top: 10vh;
  }

  .fullscreen{
    top: 15vh;
  }

  /* Blog */

  .posts-container{
    top: 15vh;
  }

  .post-card{
    width: 95vw;
    height: 300px;
  }

  .post-box h3{
    font-size: 1.15rem;
  }

  .post-box h2{
    font-size: 1.5rem;
  }

  .post-box p{
    font-size: .85rem;
  }

  .post-img{
    filter: blur(1px);
    transform: scale(1.6);
  }

  .post-card:hover .post-img{
    filter: blur(.5px);
    transform: scale(1.8);
  }

  /* Blog post */
  .blogpost-main{
    width: 95%;
  }

  .blogpost-main h2{
    font-size: 2rem;
  }

  .blogpost-main p{
    font-size: 1.4rem;
  }

  .blogpost-container{
    margin: 10vh 0 0;
    width: 100%;
    border-radius: 0;
  }

  .blogpost-img{
    border-radius: 0;
  }

  /* Store */

  .shop-card{
    position: relative;
    width: 90vw;
  }

  .shop-item-info h2{
    font-size: 2rem;
    margin: 20% 0 0 5%;
  }

}
